---
layout: default
title: albums
permalink: /albums/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Albums</title>

    <!-- Bootstrap Core CSS -->
    <link href="/spotipy/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="/spotipy/assets/css/artists.css" rel="stylesheet">

  </head>
  <body id="page-top">
<div class="inner">
          <nav class="navbar navbar-dark nav-masthead justify-content-center">
            <a class="nav-masthead nav-link" href="/spotipy/"><h5><img src='/spotipy/assets/images/logo.png' class="logo_img">SpotiPy</h5></a>
            <a class="nav-link" href="/spotipy/about/"><h5>About</h5></a>
            <a class="nav-link active" href="/spotipy/albums/"><h5>Albums</h5></a>
            <a class="nav-link" href="/spotipy/artists/"><h5>Artists</h5></a>
            <a class="nav-link" href="/spotipy/tracks/"><h5>Tracks</h5></a>
          </nav>
        </div>

<!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0"></h3>
          <h2 class="text-secondary mb-5">Albums</h2>
        </div>
<div class="sortSearch">
          <a class="btn btn-default" href="#">Sort by Album Name (asc)</a>
<a class="btn btn-default" href="{{ url_for('albumsPage',page=1,sort='number_tracks',direction='asc') }}">Sort by Number Tracks (asc)</a>
<br>
          <a class="btn btn-default" href="#">Sort by Album Name (desc)</a>
          <a class="btn btn-default" href="#">Sort by Number Tracks (desc)</a><br>
    {% if albums.has_prev %}
      <a class="btn btn-default" id="prev" href="#" rel="prev">Prev</a>
    {% endif %}
          <form>
            <input id="search" type="text" placeholder="Search (Case-Sensitive!)" name="search" href="#">
          </form>
{% if albums.has_next %}
      <a class="btn btn-default" id="next" href="#" rel="next">Next</a>
    {% endif %}
</div>
        <div class="row no-gutters">
          {% for album in site.data.albums %}
          <div class="col-lg-6">
            <a class="portfolio-item" href="{{ album.album_id }}" onmouseover='Show("{{ album.album_id }}")' onmouseout='Hide("{{album.album_id}}")'>
              <span class="caption">
                <span id="{{ album.album_id }}" class="caption-content" style="display:none">
                  <h2>{{ album.album_name }}</h2>
                  <p class="mb-0">by {{ album.artist_name }}</p>
                </span>
              </span>
              <img class="img-fluid" src="{{ album.img }}" alt="">
            </a>
          </div>
          {% endfor %} 
    </section>
</body>
<!-- Bootstrap core JavaScript -->
    <script src="/spotipy/assets/js/jquery.min.js"></script>
    <script src="/spotipy/assets/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/spotipy/assets/js/stylish-portfolio.min.js"></script>
    <script src="/spotipy/assets/js/hideShow.js"></script>
</html>
